*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/****************************************************/

body{
    background-color: #E5E5E5;
}

/***************************************************/

/* 

#008BFF
#E4811C

*/
